<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title>Film finder</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<div class="container">

		<form class="input-group mt-3" th:action="@{/index}" method="POST"
			th:object="${userFilm}">
			<input type="text" class="form-control" placeholder="Enter a film"
				aria-label="film" aria-describedby="basic-addon2" th:name="userFilm"
				th:value="${userFilm}">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="submit">Search</button>
			</div>

		</form>
		<p th:text="${showError}" style="color: red"></p>
		<div class="container">
			<div class="row">
				<div class="col-6">
					<ul class="list-group" th:if="${fimJsonObj != null}">
						<li class="list-group-item"><b>Title: </b><span
							th:text="${fimJsonObj.get('Title')}"></span></li>
						<li class="list-group-item"><b>Release Date: </b><span
							th:text="${fimJsonObj.get('Released')}"></span></li>
						<li class="list-group-item"><b>Runtime: </b><span
							th:text="${fimJsonObj.get('Runtime')}"></span></li>
						<li class="list-group-item"><b>Genre: </b><span
							th:text="${fimJsonObj.get('Genre')}"></span></li>
						<li class="list-group-item"><b>IMDb Rating: </b><span
							th:text="${fimJsonObj.get('imdbRating')}"></span>/10</li>
					</ul>
				</div>
				<div class="col-6">
					<div th:if="${cinemas != null}">
						<ul class="list-group">
							<li th:each="cinema : ${cinemas}" class="list-group-item"><a
								th:href="${cinema.value}" th:text="${cinema.key}"></a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-12">
					<div th:if="${filmsFromDb != null}">
					<h3 class="mt-3">Last 10 Films</h3>
						<ul class="list-group" style="margin-top: 10px">
							<li th:each="mainFilm : ${filmsFromDb}" class="list-group-item">
								<div class="row">
									<div class="col-5">
										<span th:text=${mainFilm.getFilm().name}></span>
									</div>
									<div class="col-5">
										<span th:text=${mainFilm.getFilm().rating}></span>
									</div>

									<div class="col-2">
										<a th:href="@{index/(name=${mainFilm.getFilm().getName()},rating=${mainFilm.getFilm().getRating()})}"
											type="submit" class="btn btn-outline-secondary">generate
											XML</a>
									</div>


								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /container -->
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>